* {
    box-sizing: border-box;
  }
  

html {
    background: #f7f7f7;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: white;
    margin: 0 auto;
    color: rgb(49, 46, 46);
    text-align: center;
}

main {
    padding-top: 200px;
}

aside {
    display: none;
}


select {
    background-color: transparent;
    border-style: none;
}

.product img {
    max-width: 100%;
    height: 150px;
}

.product p {
    color: #ff6601;
    }

.a-class {
    color: Black;
    text-decoration: none;
}

.a-class:hover {
    text-decoration: underline;
}

.product {
    box-sizing: border-box;
    /* width: 30%; */
    height: auto;
    margin: 5px;
    padding: 5px;
    width: 70%;
    text-align: center;
}

.product:hover {
    box-shadow: 2px 2px 2px 2px#888888;
}

.m-class {
    font-size: 15px;
    color: #6d6d6d;
}

.sort-label {
    float: right;
    vertical-align: top;
}

.button {
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
}

.button:last-of-type {
    background: red;
    color: white;
    text-decoration: none;
}

.shop {
    width: 90%;
    margin-bottom: 40px;
}

/* Aside tab */

.menu-bar1{
    border-bottom: 1px solid #e9ecf1;
    padding-bottom: 10px;
    padding-left: 0;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 50px;  
}
.menu-bar2{
    border-bottom: 1px solid #e9ecf1;
    padding-bottom: 10px;
    padding-left: 0;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 50px;
}
.menu-bar3{
    border-bottom: 1px solid #e9ecf1;
    padding-bottom: 10px;
    padding-left: 0;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 50px;
}
.menu-bar4{
    border-bottom: 1px solid #e9ecf1;
    padding-bottom: 10px;
    padding-left: 0;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 50px;
}

.sub-menu1, .sub-menu2, .sub-menu3, .sub-menu4{
    position: relative;
    
}
.sub-menu1 ul, .sub-menu2 ul, .sub-menu3 ul, .sub-menu4 ul{
    margin-top: 30px;
    margin-left: 50px;
    list-style: none;
    width: 230px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    flex-direction: column;
    border-radius: 5px;
}
.sub-menu1 a, .sub-menu2 a, .sub-menu3 a, .sub-menu4 a{
    color: grey;
    text-decoration: none;
}
.sub-menu1 li,
.sub-menu2 li,
.sub-menu3 li,
.sub-menu4 li
{
    font-size: 14px;
    line-height: 1;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
.sub-menu1 li:hover,
.sub-menu2 li:hover,
.sub-menu3 li:hover,
.sub-menu4 li:hover {
    background-color:rgb(231, 237, 238);
}


@media (min-width: 600px) {
     .product {
        display: inline-block;
        width: 48%;
    }
}

@media (min-width: 1000px) {
    body {
        text-align: left;
    }

    main {
    width: 68%;
    display: inline-block;
    padding: 10px;
    }

    aside {
        width: 27%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        }
  
}

@media (min-width: 1200px) {
    body {
        max-width: 80vw;
    }

    .product {
        width: 30%;
    }

}

/* footer */
.footer {
    width: 100%;
    background-color: #2e2e2e;
    display: block;
    /* text-align: justify; */
}
.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer-items h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-align: justify;
    line-height: 25px;
}
.footer-items h2 {
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border {
    height: 2px;
    width: 40px;
    background-color: #ff9800;
}
.footer-items ul {
    list-style: none;
    display: block;
    color: #6e7178;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.footer-items ul a {
 text-decoration: none;
 outline: none;
 color: #6e7178;
 transition: 0.3s;
}

.footer-items p {
    color: #6e7178;
}

.footer-items ul a:hover {
    color: #ff9800;
}
.footer-items ul li {
    margin: 10px 0;
    height: 25px;
}
.footer-items ul li i {
    margin: 20px;
}
.social-media {
    width: 100%;
    color: #fff;
    text-align: center;
}
.social-media a {
    text-decoration: none;
}
.social-media i {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: ;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}
.social-media i:hover {
    background-color: grey;
}
.footer-bottom {
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width: 1085px){
    .footer-items {
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .footer-items {
        width: 100%;
    }
}
